@import "toolkit";

$color-gray: darken(#fff, 15% * 3);
$color-gray-dark: darken(#fff, 15% * 4);
$color-gray-light: darken(#fff, 15% * 1.5);

@for $i from 1 through 6 {
    $color: darken(#fff, 15% * $i);

    .gray-#{$i} {
        color: $color;
    }

    .bg-gray-#{$i} {
        background-color: $color;
    }

    // todo: learn if this is possible
    // almost but no cigar http://blog.sass-lang.com/posts/184094-sass-33-is-released
    // $$color-gray-#{$i}: $color;
}

