@media print {
  .no-print {
    display: none;
  }

  html {
    font-size: 8px;
  }

  .feature-overview {
    column-span: all;
    background: transparent;
  }

  main {
    columns: 3;
    column-gap: 12px;
  }

  footer {
    column-span: all;
  }

  section {
    .section-head {
      background: none;

      h2 {
        color: $color-blue;
        font-size: 2em;
      }

      a {
        color: $color-blue;
      }
    }
  }

  table {
    break-inside: auto;

    thead {
      display: none;
    }

    tbody {
      break-inside: auto;
    }

    tr {
      display: flex;
      flex-direction: column;
      break-inside: auto;
      margin-bottom: 1em;
    }

    td:nth-child(2) {
      padding-left: 1.5em;
    }

    pre[class*="language-"] {
      padding: 0.25em 0.5em;
    }
  }

  a:after {
    content: " (" attr(href) ") ";
  }

  a[name], a[name]:after {
    display: none;
  }

  code[class*="language-"] {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

}