table {
  thead td {
    background: $color-gray-light;
    padding: 0.5em;

    :not(aside) {
      font-weight: 700;
    }
  }

  pre[class*="language-"] {
    padding: 0.5em;
    margin: 0 0.25rem 0.25rem 0.25rem;
  }
}