// todo: download and take offline
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

$base: 1em;

%font {
    font-family: "Open Sans", sans-serif;
}

@mixin headers($base) {
    @for $i from 0 through 5 {
        h#{6 - $i} {
            $size: ms($i + 1, $golden $fourth);

            font-size: #{$size}em;
            line-height: 1.2;

            a {
                text-decoration: none;
            }
        }
    }
}

@include headers($base);


// @include breakpoint($medium) {
//     @include headers(12px);
// }

// @include breakpoint($medium $large) {
//     @include headers(14px);
// }

// @include breakpoint($large $xlarge) {
//     @include headers(16px);
// }