// todo: download and take offline
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

$base: 1em;

%font {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  line-height: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  line-height: normal;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  line-height: normal;
  margin-bottom: 1rem;
}
