h1 Start your prototyping!
h4.gray-1 Here is a collection of things installed
.feature
  h2 Awesome things
  ul
    li(ng-repeat='item in $ctrl.awesomeThings')
      .title {{item.title}} #[a(href="{{item.url}}", target="_blank") #[i.fa.fa-info-circle]]

.feature
  h2 Prototyping with angular-placeholders
    a(href="http://joshdmiller.github.io/angular-placeholders/", target="_blank")
      i.fa.fa-info-circle
  .pair-right
    img(ph-img='200x150')
    p.text(ph-txt='3p3s')
  .pair-left
    img(ph-img='200x150')
    p.text(ph-txt='3p3s')
  .pair-right
    img(ph-img='200x150')
    p.text(ph-txt='3p3s')

