doctype html
- var version = 0.32
html(lang="en")
  head
    title QMK Firmware Cheatsheet #{version}
    script(src='bower/prism/prism.js')
    script(src='bower/prism/components/prism-c.js')
    link(rel='stylesheet', href='styles/vendor.css')
    link(rel='stylesheet', href='styles/app.css')

  body
    main
      a(name='#top')
      include pages/feature-overview
      include pages/layers
      include pages/modifiers
      include pages/macros
      include pages/dynamic-macros
      include pages/tap-dance
      include pages/mouse
      include pages/unicode
      include pages/leader
    footer.
      Version #{version} targeting QMK 0.12.16 by Jay Liu
      on 2021-03-12
      #[a(href="https://github.com/jayliu50/qmk-cheatsheet/issues" target="_blank") Report Issues]