doctype html
html(lang="en")
  head
    title Start your prototyping
    script(src='/scripts/vendor.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/styles/app.css')

  body(ng-app="prototypeAngularApp")
    main
      h1 Start your prototyping!
      div(ng-controller="MainCtrl")
        p Here are a list of things installed
        ul
          li(ng-repeat='item in awesomeThings')
            {{ item }}

      div
        h1.gray-3 Header 1
        h2.gray-3 Header 2
        h3.gray-3 Header 3
        h4.gray-3 Header 4
        h5.gray-3 Header 5
        h6.gray-3 Header 6
        p

      div
        h1.fa.fa-magic

      div
        .bg-gray-1.panel
        .bg-gray-2.panel
        .bg-gray-3.panel
        .bg-gray-4.panel
        .bg-gray-5.panel
        .bg-gray-6.panel
