doctype html
html(lang="en")
  head
    title Start your prototyping
    script(src='/scripts/vendor.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/styles/app.css')

  body(ng-app="prototypeAngularApp")
    main
      h1 Start your prototyping!
      h4.gray-1 Here is a collection of things installed
      .feature(ng-controller="MainCtrl")
        h3
          | Angular JS + Lodash
          a(href="http://angularjs.org", target="_blank")
            i.fa.fa-info-circle
        ul
          li(ng-repeat='item in awesomeThings')
            {{ item }}

      .feature
        h3
          | Modular Scale Typography
          a(href="http://modularscale.com/", target="_blank")
            i.fa.fa-info-circle
        hr
        h1.gray-3 Header 1
        h2.gray-3 Header 2
        h3.gray-3 Header 3
        h4.gray-3 Header 4
        h5.gray-3 Header 5
        h6.gray-3 Header 6
        p p

      .feature
        h3
          | Font-awesome
          a(href="http://fontawesome.io/icons/", target="_blank")
            i.fa.fa-info-circle
        h1.fa.fa-magic
        h1.fa.fa-bomb
        h1.fa.fa-check

      .feature
        h3 Classes for shades of gray
        .bg-gray-1.gray-6.panel .[bg-]gray-1
        .bg-gray-2.gray-5.panel .[bg-]gray-2
        .bg-gray-3.gray-4.panel .[bg-]gray-3
        .bg-gray-4.gray-3.panel .[bg-]gray-4
        .bg-gray-5.gray-2.panel .[bg-]gray-5
        .bg-gray-6.gray-1.panel .[bg-]gray-6

      .feature
        h3
          | Singularity GS
          a(href="https://github.com/Team-Sass/Singularity/wiki", target="_blank")
            i.fa.fa-info-circle
        .feature 1
        .feature 2
        .feature 3

      .feature
        h3
          | Prototyping with angular-placeholders
          a(href="http://joshdmiller.github.io/angular-placeholders/", target="_blank")
            i.fa.fa-info-circle
        img(ph-img='150x150')
        p(ph-txt='1p3s')

