doctype html
html(lang="en")
  head
    title Start your prototyping
    script(src='/bower/jquery/dist/jquery.js')
    script(src='/bower/lodash/lodash.js')
    script(src='/bower/angular/angular.js')
    script(src='/bower/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower/bower-angular-placeholders/angular-placeholders.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/styles/app.css')

  body(ng-app="prototypeAngularApp")
    main
      h1 Start your prototyping!
      h4.gray-1 Here is a collection of things installed
      .feature(ng-controller="MainCtrl")
        .title
          | Angular JS + Lodash
          a(href="http://angularjs.org", target="_blank")
            i.fa.fa-info-circle
        ul
          li(ng-repeat='item in awesomeThings')
            {{ item }}

      .feature
        .title
          | Modular Scale Typography
          a(href="http://modularscale.com/", target="_blank")
            i.fa.fa-info-circle
        hr
        h1.gray-3 Header 1
        h2.gray-3 Header 2
        h3.gray-3 Header 3
        h4.gray-3 Header 4
        h5.gray-3 Header 5
        h6.gray-3 Header 6
        p p

      .feature
        .title
          | Font-awesome
          a(href="http://fontawesome.io/icons/", target="_blank")
            i.fa.fa-info-circle
        h1.fa.fa-magic
        h1.fa.fa-bomb
        h1.fa.fa-check

      .feature
        .title Classes for shades of gray
        .bg-gray-1.gray-6.panel .[bg-]gray-1
        .bg-gray-2.gray-5.panel .[bg-]gray-2
        .bg-gray-3.gray-4.panel .[bg-]gray-3
        .bg-gray-4.gray-3.panel .[bg-]gray-4
        .bg-gray-5.gray-2.panel .[bg-]gray-5
        .bg-gray-6.gray-1.panel .[bg-]gray-6

      .feature
        .title
          | Susy
          a(href="http://susy.oddbird.net/", target="_blank")
            i.fa.fa-info-circle
        ul.feature-grid
          li 1
          li 2
          li 3

      .feature
        .title
          | Prototyping with angular-placeholders
          a(href="http://joshdmiller.github.io/angular-placeholders/", target="_blank")
            i.fa.fa-info-circle
        .pair-right
          img(ph-img='200x150')
          p.text(ph-txt='3p3s')
        .pair-left
          img(ph-img='200x150')
          p.text(ph-txt='3p3s')
        .pair-right
          img(ph-img='200x150')
          p.text(ph-txt='3p3s')

