include ../components/mixins.pug

section
  +section-head('Dynamic Macros', 'dynamic-macros', 'https://docs.qmk.fm/dynamic_macros.html')

  .intro
    p Record and play keystrokes

  .block
    h3 Step 1: Setup

    aside in keymap.c:
    pre
      code.language-c.
        enum planck_keycodes {
            QWERTY = SAFE_RANGE,
            COLEMAK,
            DVORAK,
            PLOVER,
            LOWER,
            RAISE,
            BACKLIT,
            EXT_PLV,
            DYNAMIC_MACRO_RANGE,
        };

        // this is called when dynamic macro buffer is full
        void backlight_toggle(void) {
            // INSERT CODE HERE: for example, call function to turn on indicator LED.
        }

        #include "dynamic_macro.h"`

    aside in keymap.c, in `process_record_user` function (create function if it doesn't exist):
    pre
      code.language-c.
        bool process_record_user(uint16_t keycode, keyrecord_t *record) {
            if (!process_record_dynamic_macro(keycode, record)) {
                return false;
            }
            return true;
        }


  .block
    h3 Step 2: Use
    aside in keymap.c, in your KEYMAP():

    table
      tr
        td Keycode #[aside to be added to your call to KEYMAP()]
        td Description
      tr
        td
          pre
            code.language-c.
              DYN_REC_START1
        td Start recording Macro 1
      tr
        td
          pre
            code.language-c.
              DYN_REC_START2
        td Start recording Macro 2
      tr
        td
          pre
            code.language-c.
              DYN_REC_STOP
        td Stop recording current Macro
      tr
        td
          pre
            code.language-c.
              DYN_MACRO_PLAY1
        td Replay Macro 1
      tr
        td
          pre
            code.language-c.
              DYN_MACRO_PLAY2
        td Replay Macro 2