section.feature-overview
  h1 QMK Firmware

  ul.features
    .feature
      a(href="#layers")
        span Up to 32 layers
      aside Flexibly specify how to transition among layers.
    .feature
      a(href="#modifiers")
        span Modifiers
      aside Re-assign and combine modifiers; combine modifier and keycode into a single key.
    .feature
      a(href="#macros")
        span Macros
      aside Pack entire sequences of key strokes into one.
    .feature
      a(href="#dynamic-macros")
        span Dynamic Macros
      aside Record and play back keystrokes on the fly.
    .feature
      a(href="#tap-dance")
        span Tap Dance
      aside The number of times a key is tapped determines the keycode or action.
    .feature
      a(href="#leader")
        span Leader Key
      aside Send keycode or perform action based on sequence of keys pressed.
    .feature
      a(href="#mouse")
        span Mouse Keys
      aside Control mouse and its buttons.