include ../components/mixins.pug

section
  +section-head('Macros', 'macros', 'https://docs.qmk.fm/#/feature_macros')

  .block
    h3 Step 1: Declare

    p Create an entry for each macro in an enum. Replace YOUR_MACRO_1, YOUR_MACRO_2, etc., below, with the names of your macros.

    aside in keymap.c, before KEYMAP():
    pre
      code.language-c.
        // Macro Declarations
        enum {
            YOUR_MACRO_1 = 0,
            YOUR_MACRO_2,
            // ..., the rest of your macros
        };
  .block
    h3 Step 2: Define
    aside in keymap.c, before KEYMAP():
    pre
      code.language-c.
        // Macro Definitions
        const macro_t *action_get_macro(keyrecord_t *record, uint8_t id, uint8_t opt)
        {
          switch(id) {

            // for basic strings
            case YOUR_MACRO_1: {
                if (record->event.pressed) {
                    SEND_STRING("YOUR_STRING_HERE"); // REPLACE with what you want your macro to be
                    return false;
                }
            }

            // for more complex macros (want to add modifiers, etc.)
            case YOUR_MACRO_1: {
              if (recond->event.pressed) {
                  // INSERT CODE HERE for your macro. See full documentation for details and functions
              }
            }


            //
          }
          return MACRO_NONE;
        };
  .block
    h3 Step 3: Use
    aside in keymap.c, in the call to KEYMAP():
    pre
      code.language-c.
        M(YOUR_MACRO_1)
