include ../components/mixins.pug

section
  +section-head('Tap Dance', 'tap-dance', 'https://docs.qmk.fm/tap_dance.html')

  .intro
    p Send different key codes depending on how many times key is tapped. Tap key once does one thing, tap twice does another thing, etc.

  .block
    h3 Step 1: Setup

    aside in rules.mk:
    pre
      code.language-c.
        TAP_DANCE_ENABLE = yes

    aside in config.h:
    pre
      code.language-c.
        #define TAPPING_TERM 200

  .block
    h3 Step 2: Declare

    p Create an entry for each tap dance in an enum. Replace YOUR_TAPDANCE_1, YOUR_TAPDANCE_2, etc., with the names of your tap dances.

    aside in keymap.c, before KEYMAP():
    pre
      code.language-c.
        // Tap Dance Declarations
        enum {
            YOUR_TAPDANCE_1 = 0,
            YOUR_TAPDANCE_2,
            // ..., the rest of your tap dances
        };
  .block
    h3 Step 3: Define
    aside in keymap.c, before KEYMAP():
    pre
      code.language-c.

        // Tap Dance Definitions
        qk_tap_dance_action_t tap_dance_actions[] = {
            // simple tap dance
            [YOUR_TAPDANCE_1] = ACTION_TAP_DANCE_DOUBLE(KC_XXXX, KC_YYYY), // replace with your keyco.des

            // complex tap dance function (to specify what happens when key is pressed 3+ times, for example). See https://docs.qmk.fm/tap_dance.html for how to define
            [YOUR_TAPDANCE_2] = ACTION_TAP_DANCE_FN(your_function_name),
        };

  .block
    h3 Step 4: Use
    aside in keymap.c, in your KEYMAP():
    pre
      code.language-c.
        TD(YOUR_TAPDANCE_1)
